img{
    margin-top: 20px;
}
button{
    margin-top: 20px;
    width: 150px;
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
}
.product{
    width: 220px;
    margin: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    display: block;
    width: 220px;
    height: 138px;
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;

}
.hidden{
    display: none;
}

