h3{
    margin-top: 15px;
}
img{
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}
.btn-decs{
    max-width: 170px;
    display: block;
    margin: 20px auto;
}
.product{
    margin: 20px 5px;
    padding: 10px 5px;
    align-items: center;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 3px;
}
.productName{
    text-align: center;
}
.desc{
    display: block;
    width: 100%;
    height: 138px;
    margin: 20px auto;
    padding: 5px;
    box-sizing: border-box;
}
.price{
    margin-bottom: 20px;
}
.hidden{
    display: none;
}

.mt-3, .my-3{
    margin-top: 0 !important;
}

.productRemovePointer{
    cursor: pointer;
}
